* {
    margin: 0 !important;
    padding: 0 !important;

}

.container1 {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
    display: flex !important;
    justify-content: center !important; 
    align-items: center !important;
    flex-direction: column !important;
    gap: 16px;
    padding: 24px !important;
    
}
.head{
    padding-top: 104px !important;
    padding-bottom: 3rem !important; 
    display: flex;
    gap: 12px;
}
.bannerIcon{
    max-height: 66px;
    border-radius: 8px;
}

h1 {
    color: white;
    display: flex;
    font-size: 50px;
    justify-content: center;
    /* align-items: ; */

}

input {
    max-width: 300px;
    width: 100%;
    height: 49px;
    border: 0px;
    border-bottom: 2px solid white;
    outline: none;
    border-radius: 4px;
    padding: 4px;
}

button {
    height: 53px;
    width: 151px;
    background-color: #0095ff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.weather-card {
    background-color: white;
    border-radius: 6px;
    padding: 26px !important;
    border-radius: 20px;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow:  -5px -5px 10px #5a5a5a,
                 5px 5px 10px #ffffff;

}

.city-country-row {
    display: flex;
    gap: 12px;
}

.city {
    font-size: 24px;
    font-weight: 600;
}

.country-tag {
    background-color: rgb(230, 166, 47);
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    text-align: center !important;
    height: 24px;
    width: 28px;
}

.temprature-row {
    display: flex;
    padding-top: 16px;
}

.temprature {
    font-size: 56px;
    font-weight: 600;
}

.temp-unit {
    font-size: 36px;
    font-weight: 500;
}

.user-input {
    display: flex;
    gap: 10px;
    
}
.weather-symbol {
    padding-top: 16px;
    font-size: 35px;

}
.weather-type {
    padding-top: 12px;
    font-size: 28px;
}
#location-input{
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
}

.banner-image{
    max-height: 300px;
}